table,
th,
td {
border: 1px solid rgb(0, 0, 0);
border-collapse: collapse;
}
table,
th,
th,
td {

border: 1px solid black;
border-radius: 10px;
}
      
table {
width: 100%;
}
td {
text-align: left;
}